package shared

templ Base(title string) {
<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{ title }</title>
    <link href="./assets/styles.css" rel="stylesheet" />
</head>

<body class="bg-white text-gray-900 antialiased">
    @Header(title)

    { children... }
</body>

</html>
}
