@import "tailwindcss";
@plugin "daisyui" {
    themes: rosepine-dawn, rosepine-moon;
}
@plugin "daisyui/theme" {
    name: rosepine-dawn;
    default: false;
    prefersdark: false;
    color-scheme: light;
    --color-base-content: #575279;
    --color-primary: #907aa9;
    --color-secondary: #d7827e;
    --color-accent: #907aa9;
    --color-neutral: #faf4ed;
    --color-base-100: #fffaf3;
    --color-info: #286983;
    --color-success: #56949f;
    --color-warning: #ea9d34;
    --color-error: #b4637a;
}
@plugin "daisyui/theme" {
    name: rosepine-moon;
    default: true;
    prefersdark: false;
    color-scheme: dark;
    --color-base-content: #e0def4;
    --color-primary: #c4a7e7;
    --color-secondary: #ea9a97;
    --color-accent: #c4a7e7;
    --color-neutral: #2a273f;
    --color-base-100: #232136;
    --color-info: #3e8fb0;
    --color-success: #9ccfd8;
    --color-warning: #f6c177;
    --color-error: #eb6f92;
}

html,
body {
    height: 100%;
}

h2[id^="headline"] {
    font-size: 1.875rem;
}
h3[id^="headline"] {
    font-size: 1.5rem;
}
div[id^="outline-text"] {
    font-size: 1rem;
}
div[id^="outline"] img {
    padding-top: 20px;
    margin: auto;
}
[data-theme="rosepine-dawn"] {
    div[id^="outline-text"] a {
        text-decoration: underline;
        color: #56949f;
    }
}
[data-theme="rosepine-moon"] {
    div[id^="outline-text"] a {
        text-decoration: underline;
        color: #9ccfd8;
    }
}
